.serve-areas{
    display: flex;
    flex-wrap: wrap;
}

.serve-areas .serve-area-heading{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.serve-areas .serve-area-heading span.serve-image img{
    width: 10rem;
    height: 10rem;
    margin-left: 5rem;
}

.serve-areas .serve-area-heading span.serve-title{
    font-size: 5rem;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
.serving-cards{
    display: flex;
    flex-wrap: wrap;
    margin: 0 5rem 5rem;
}

.serve-area-cards{
    width: 30rem;
    height: 7rem;
    padding: 2rem;
    border: 2px solid black;
    margin-right: 4rem;
    margin-bottom: 2rem;
}
.serve-area-cards .serve-name{
    font-size: 1.5rem;
}

.serve-area-cards .serve-logo img{
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
}
.serve-area-cards{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    transition: transform .2s;
}
.serve-area-cards:hover{
    transform: scale(1.1);
}