.start-trad-acc{
    margin: 2rem 5rem 5rem;
}
.start-trad-acc .card-collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.start-trad-acc .head{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 7rem;
}

.start-trad-acc .card-collection .indi-card{
    margin-right: 5rem;
    padding: 2rem;
    border: 3px solid black;
    font-size: 1.2em;
    margin-bottom: 5rem;
    border-radius: 2rem;
}

.start-trad-acc .card-collection .indi-card .type .name{
    font-weight: 600;
    font-size: 2.5rem;
}

.start-trad-acc .card-collection .indi-card  hr{
    border: 2px solid rgb(156, 0, 0);
}
.start-trad-acc .card-collection .indi-card .includes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.start-trad-acc .card-collection .indi-card .includes button{
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 136, 152);
    font-weight: 500;
    border-radius: 0.5rem;
    border: 3px solid black;
}

.start-trad-acc .card-collection  #premium{
    transform: scale(1.3);
    background-color: #D89769;

}

.start-trad-acc .card-collection  #premium button{
    background-color:rgb(224, 197, 197);
}